body {
    font-family: 'Phase-HGX', sans-serif; 
    margin: 0;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #393838;
    overflow-x: hidden; 
}

#morph-container {
    width: 100vw;
    text-align: center;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 1; 
}

#text1, #text2 {
    font-family: 'Phase-HGX', sans-serif; 
    font-size: 29vw;
    width: 100%;
    text-align: left;
    user-select: none;
    position: absolute;
    transition: filter 0.5s ease, opacity 0.5s ease;
    z-index: 2; /* Ensure text is on top */
}

#text1 {
    background: linear-gradient(to right, #1b1b1b, #1b1b1b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#text2 {
    background: linear-gradient(to right, #00ff04, #00ff04);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;  /* Full screen width */
    height: auto;  /* Height automatically adjusts based on the aspect ratio */
    overflow: hidden; /* Prevent scrolling */
    z-index: 0;  /* Ensure canvas is in the background */
}


